APP_NAME="IWSIMS"
APP_SHORT_NAME=iwsims
APK_NAME="DWS DataPro"
APK_SHORT_NAME="dws-datapro"
DB_HOST=db
DB_PASSWORD=password
DB_SCHEMA=mis
DB_USER=akvo
DEBUG="True"
DJANGO_SECRET=local-secret
MAILJET_APIKEY=secret
MAILJET_SECRET=secret
WEBDOMAIN="http://localhost:3000"
IP_ADDRESS="http://<your_ip_address>/api/v1/device"
APK_UPLOAD_SECRET="secret-apk-upload"
STORAGE_PATH=
EXPO_TOKEN=
SENTRY_DSN=
SENTRY_MOBILE_ENV=
SENTRY_MOBILE_DSN=
SENTRY_MOBILE_AUTH_TOKEN=