MIS_AUTH0_USER=your_auth0_username
MIS_AUTH0_PWD=your_auth0_password
MIS_AUTH0_CLIENT_ID=your_auth0_client_id
MIS_AUTH0_DOMAIN=https://akvofoundation.eu.auth0.com/oauth/token
MIS_AKVO_FLOW_INSTANCE_BASE_URL=https://api-auth0.akvo.org/flow/orgs/
MIS_CIPHER_KEYS=secret
MIS_CIPHER_CHARS=secret